
.ui.action.input {
  width: 30%;
  min-width: 250px;
  margin: 10px 0;
}

.ui.button {
  background-color: aqua
}

.autoComplete-container {
  position: absolute;
  max-height: 300px;
  overflow-y: auto;
  background: #ffffff;
  border-radius: 5px;
  left: 37%;
  margin-left: -50px;
  width: 35%;
  min-width: 241px;
  padding: 25px 10px;
}
mark {
  background-color: yellow !important;
  padding: 0px;
}

